{% extends 'base.html' %}

{% block title %} Madlibs {% endblock %}

{% block content %}
    <h1>Madlibs</h1>
    <h2>Select a Story</h2>
    <form action="/form" id="pick-story-form" class="madlibs-form">
        <div>
            <select class="form-element" name="title" id="title-selection">
                <option disabled selected value="Pick a Story">Pick one!</option>
                {% for title in titles %}
                <option value="{{title}}">{{title}}</option>
                {% endfor %}
            </select>
        </div>

        <button class="form-element button">Go!</button>
    </form>
    <script src="/static/get_titles.js"></script>
{% endblock %}